// Variables
$website-width: 1280px;
$main-color: #f4f4f4;
$light-color: #a8cfee;
$medium-color: #4186c5;
$dark-color: #1f3257;
$bg-image: url("../images/ocean_photo.jpeg");

$text-primary: $medium-color;
$text-secondary: #0284d0;
